<div>
    <mat-card class="user__card">
        <mat-card-header>
            <div mat-card-avatar class="user__header-image"></div>
            <mat-card-title>{{ user.first_name }} {{ user.last_name }}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{ user.avatar }}" alt="{{ user.first_name }} {{ user.last_name }}">
        <mat-card-content>
            <p>{{ user.email }}</p>
        </mat-card-content>
        <mat-card-actions>
            <button (click)="back()">Back</button>
        </mat-card-actions>
    </mat-card>
</div>
